.App {
	text-align: center;
}

nav {
	background: rgb(73, 79, 82);
	color: white;
	min-height: 10vh;

	/*flex*/
	align-items: center;
	display: flex;
	justify-content: space-around;
}

.nav-links {
	list-style-type: none;
	width: 50%;

	align-items: center;
	display: flex;
	justify-content: space-around;
}